* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #04015b;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid  gray;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  
}

body {
  font-size: 16px;
  font-family: Ubuntu, "Sansita", sans-serif;
}

main{
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}
footer {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.1rem;
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}

p {
  
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5em;
  padding: 10px;
}
.t1 {
  font-size: 1.1rem;
  color: black;
  text-align: center;
}
.s2 {
  margin-right: 1.5rem;
  display: flex;
  margin: auto;
}

.s2 img {
  width: 25px;
  height: auto;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.img2 img {
  width: 120px;
  height: auto;
  border: solid grey ;
  border-radius: 10px;
}

.img {
  display: flex;
  justify-content: center;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}


#header2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

#jss {
  font-size: 0.8rem;
}

/*************************************** nav css**************************/
nav {
  margin: 0 auto;
  max-width: 800px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 5px;
  border:solid darkgrey;
   
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.2rem;
  
  font-size: 1.2rem;
  background-color: #2f6ea5;
  transition: 0.4s;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}


#hamburgerbtn span:nth-child(1) {
  display: block;
  align-items: center;
}
#hamburgerbtn span:nth-child(2) {
  display: none;
}

#hamburgerbtn.open span:nth-child(1) {
  display: none;
}
#hamburgerbtn.open span:nth-child(2) {
  display: block;
}

nav button {
  color: black;
  background-color: white;
  transition: 0.1s;
  border: solid lightblue;
  font-size: 2rem;
}

nav a:hover {
  background-color: white;
  color: black;
}

/************************************************main css**************************/
main ul li {
  list-style: circle;
}

main {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 10px;
}

#meet {
  border-style: solid;
  height: 190px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#image1 {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bt {
  position: absolute;
  top: 50px;
  right: 50px;
  border: 5px solid darkgrey;
      
}


#joinbotton {
  background-color: lightgrey;
  width: 100px;
  height: 50px;
}

#activiti {
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}

#weather {
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  overflow: hidden;
  font-size: 0.6rem;
  background-color: #c9dfff;
}

#weatherimg {
  width: 50px;
  height: auto;
}

#news {
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}



#spotlight1 {
  
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}

#spotlight2 {
  
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}
#spotlight3 {
  
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}

#join {
  
  border-style: solid;
  height: 200px;
  margin: 5px;
  text-align: center;
  background-color: #c9dfff;
}




.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8{
  
  border-radius: 5px;
  
  margin: 5px;
  
 
  border: solid  #2f6ea5;
  
}

/**************************************************footer*********************************/

footer {
  color: white;
  font-size: 0.6rem;
  font-family: "Times New Roman", Times, serif;
  background-color: #04015b;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid  gray;
}

#footer2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/**********************************************************directory *********************/
#im1,
#im2,
#im3,
#im4,
#im5,
#im6,
#im7,
#im8 {
  width: 100%;
  height: 160px;
}

/***************************************************************form****************************/

form fieldset {
  margin: 1.5rem 0;
  border: 3px solid darkgray;
  border-radius: 5px;
  padding: 1rem ;
}



form label.upper,
form div {
  display: block;
  padding-top: 0.5rem;
  color: black;
  font-size: 1rem;
}

form label.upper input,
form label.upper select {
  
  display: block;
  font-size: 1.2rem;
  border: solid 2px darkgray;
  border-radius: 5px;
  padding: 1rem;
  color: black;
  width: 100%;
}

form label.sub {
  display: block;
  padding: 1rem 0;
  color: black;
}

form input.submitBtn {
  border:solid darkgrey;
  background-color: grey;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  width: 100%;
  max-width: 10em;
}






#chart {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction:column;
}

#categori {
  display: flex;
  flex-flow: column;
}



.f {
  width: 280px;
  border: 3px solid darkgray;
  border-radius: 10px;
  background-color: lightblue;
  text-align: center;
  margin: 6px auto;
}

.f p,
.f h2 {
  font-size: 0.8rem;
}

.membericon {
  height: 50px;
  width: auto;
}




